body{
    background: #c584e4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 40vh;
    width: 80vw;
    background: #FFFF99;
    border-radius: 20px;
    max-width: 100%;
    top: 25vh;
    position: relative;
}
#gen{
    margin: 0 auto;
    position: absolute;
    background: #414141;
    color: aliceblue;
    top: 67vh;
}
.hide{
    display: none;
}